.message {
    font-weight: 600;
    color: blue;
}

.website-header-image {
    width: 100%;
    height: auto;
    display: flex;
}

.navbar {
    background-color: black;
    padding: 15px 8px 0px 8px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Mingzat', sans-serif;
    color: #ffffff;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}



.navbar-divider {
    font-family: 'Mingzat', sans-serif;
    color: #ffffff;
    font-variant: small-caps;
    margin-left: 10px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-item:hover{ color: rgb(220, 220, 220); }

.footer {
    background-color: black;
    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.footer-content {
    color: white;
    text-align: center;
}

.sponsor-logo {
    height: 60px;
    width: auto;
}

.dropdown {
    color: #fff;
    display: none;
}

.body-content {    
    margin-left: 20px;
    padding: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.written-content {
    margin-right: 30px;
}

.header {
    font-weight: bold; 
    font-family: Merriweather, serif;
    color: black;
}

.membership-prices {
    width: 50%;
    align-items: left;
    float: left;

}

.upcoming-events {
    width: 50%;
    align-items: right;
    float: right;
}

.map {
    height: 400px;
    width: 90%;
}

.main-images {
    margin: 15px;
    display: inline-block;
    height: 20vw;
    width: 30vw;
    overflow: hidden;
}

.left-container {
    align-items: left;
    justify-content: left;
    float: left;
    height: auto;
    width: 66.6%;
}

.right-container {
    align-items: right;
    justify-content: right;
    float: right;
    height: auto;
    width: 33.3%
}

.calendar {
    height:50vw;
    width: auto;
}

.table-row td {
    padding-right: 14px;
}

@media screen and (max-width: 1175px) {
    .navbar-item {
        display: none;
    } 
    .navbar-divider {
        display: none; 
    }  
    .dropdown {
        display: block;
        padding: 0 6px;
        font-size: 30px;
    }
    .navbar {
        padding: 5px 8px 9px 10px;
    }
    .header {
        font-size: 3.4lvw;
    }
    
}

@media screen and (max-width: 850px) {
    .main-images {
        display: none;
    }
    .left-container {
        width: 100%
    }
    .right-container {
        width: 0;
    }
    .header {
        font-size: 29px;
    }
}


/*   .navbar {
        padding: 0px 15px 0px 15px;
        background-color: black;
    }
*/

