.message {
    font-weight: 600;
    color: blue;
}

.website-header {
    width: 100%;
    height: auto;
    display: flex;
}

.navbar {
    background-color: black;
    font-size: 1em;
    font-family: 'Mingzat', sans-serif;
    color: #ffffff;
    padding: 1.1% 0.8% 1.1% 0.8%;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 10px;
    font-size: 10px;

}

.dropdown {
    color: #fff;
    display: none;
    padding: 1px 1px;
    font-size: 20px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1000px) {
    .navbar-item {
        display: none;
    }   
    .dropdown {
        display: block;
    }
}

/*   .navbar {
        padding: 0px 15px 0px 15px;
        background-color: black;
    }
*/

