.message {
    font-weight: 600;
    color: blue;
}

.website-header-image {
    width: 100%;
    height: auto;
    display: flex;
}

.navbar {
    background-color: black;
    padding: 1.1% 0.8% 1.1% 0.8%;
}

.navbar-pc {
    display: inline;
    margin: auto;
}

.navbar-item {
    float: left;
    font-variant: small-caps;
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Mingzat', sans-serif;
    color: #ffffff;
    display:block;
}

.footer {
    background-color: black;
    padding: 10px;
}

.footer-content {
    color: white;
    text-align: center;
}


.dropdown {
    color: #fff;
    display: none;
    padding: 0 6px;
    font-size: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1000px) {
    .navbar-item {
        display: none;
    }   
    .dropdown {
        display: block;
    }
    .navbar {
        padding: 1px 8px 2px 10px;
    
    }
}

/*   .navbar {
        padding: 0px 15px 0px 15px;
        background-color: black;
    }
*/

