<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <p>Choose pdf file</p><input type="file" name="pdf_file">
        <p>Choose html file</p><input type="file" name="html_file">
        <p>Choose image file</p><input type="file" name="image_file">
        <input type="submit" value="Upload">
    </form>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>