{% extends "layout.html" %}
{% block script %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.8/index.global.min.js'></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,listYear'
        },

        displayEventTime: false,

        googleCalendarApiKey: 'AIzaSyBrSepztiiinJcyMsWfUjhjcLK9qA8Cm14',

        events: 'f87833500104928c8fe435ceb2db6f55e81db34f8af20624b565005f8f51eafe@group.calendar.google.com',
        
        eventClick: function(arg) {

        window.open(arg.event.url, '_blank', 'width=700,height=600');


        arg.jsEvent.preventDefault();
      }

    });

    calendar.render();
  });

</script>
{% endblock %}
{% block title %}
Calendar Page
{% endblock %}
{% block content %}
<h1 class="header">This is the calendar page for the website.</h1>
<div class='calendar' id='calendar'></div>
{% endblock %}