{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}

{% block script %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.8/index.global.min.js'></script>
<script>
//Basically I want to write code that gets the upcoming events and gets the details about them like their date so I can write code for the calendar widgit get sir to help you 
//fullcalendar.io/docs/Calendar-getEvents
</script>
{% endblock %}

{% block content %}
<div class = "left-container">
<h1 class = "header">Want to play chess in Otago?</h1>
<p class = "written-content">The Otago Chess club has been established in Dunedin since 1875. We warmly welcome anyone interested in joining the club to come along to our weekly club meetings on Wednesday evenings at 7pm. We cater to all chess players whether competitive and social and hope everyone can have a fun time playing the beautiful game of chess. 
    As a member of the Otago Chess Club you can:
    <br>
    ♛ Play in the club tournaments held on Wednesday evenings throughout the year, as well as play social games.
    <br>
    <br>
    ♛ Play social chess on Tuesday afternoon 1pm-4pm
    <br>
    <br>
    ♛ Borrow books from our extensive library of over 600 volumes
    <br>
    <br>
    ♛ Gain a national chess rating to gauge your improvement
    <br>
    <br>
    ♛ Exchange ideas and test your play against the strongest players in the region
</p>
<iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d847.0717259726911!2d170.4952185343565!3d-45.88799724513374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa82eadee6a39f953%3A0xb8445785d63c3114!2sOtago%20Chess%20club!5e1!3m2!1sen!2snz!4v1690100668413!5m2!1sen!2snz" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class = "membership-prices">
    <h1 class = "header">Membership Prices:</h1>
    <p class = "written-content">
        Ordinary - $130 
        <br>
        Unwaged - $110
        <br>
        Student - $110
        <br>
        Junior (Under 21) - $65
        <br>
        Social (Tuedays) - $30
    </p>
</div>
<div class = "upcoming-events">
    <h1 class = "header">Upcoming Events:</h1>
    <p>Figure out a way to create this with variables</p>



</div>

<div class = "right-container">
    <img src="{{ url_for('static', filename='images/OCCHouse.jpg')}}" alt="Otago Chess Club House" class="main-images">
    <img src="{{ url_for('static', filename='images/OCCInsideBuilding.jpg')}}" alt="Inside Otago Chess Club House" class="main-images">
    <img src="{{ url_for('static', filename='images/OCCOldPhoto.jpg')}}" alt="Old Photo" class="main-images">

</div>

{% endblock %}