<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}"/>
    </head>

    <body>
        <header>
            <img src="{{ url_for('static', filename='images/WebsiteLowQualityHeader.png')}}" alt="Website Header" class="website-header-image">

            <div class="navbar">
                <div class="dropdown">
                    <button role="button" type="button" class="btn dropdown" data-toggle="dropdown"> 
                        &#8801;
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('home') }}">HOME</a>
                        <a class="dropdown-item" href="{{ url_for('about') }}">ABOUT</a>
                        <a class="dropdown-item" href="{{ url_for('news') }}">NEWS</a>
                        <a class="dropdown-item" href="{{ url_for('notices') }}">NOTICES</a>
                        <a class="dropdown-item" href="{{ url_for('calendar') }}">CALENDAR</a>
                        <a class="dropdown-item" href="{{ url_for('tournaments') }}">TOURNAMENTS</a>
                        <a class="dropdown-item" href="{{ url_for('results') }}">RESULTS</a>
                        <a class="dropdown-item" href="{{ url_for('ratings') }}">RATINGS</a>
                        <a class="dropdown-item" href="{{ url_for('library') }}">LIBRARY</a>
                    </div>
                </div>

                <div>
                        <a style = "text-decoration: none;" href="{{ url_for('home') }}" class="navbar-item">HOME</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('about') }}" class="navbar-item">ABOUT</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('news') }}" class="navbar-item">NEWS</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('notices') }}" class="navbar-item">NOTICES</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('calendar') }}" class="navbar-item">CALENDAR</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('tournaments') }}" class="navbar-item">TOURNAMENTS</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('results') }}" class="navbar-item">RESULTS</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('ratings') }}" class="navbar-item">RATINGS</a>
                        <p class="navbar-item">&#9474;</p>
                        <a style = "text-decoration: none;" href="{{ url_for('library') }}" class="navbar-item">LIBRARY</a>
                </div>  
            </div>

        </header>
        <main>
            <div class="body-content">
                {% block content %}
                {% endblock %}
                <hr/>
            </div>
            
            <footer class = "footer">
                <div class="footer-content">
                    <p>Contact us: otagochess@gmail.com</p>
                    <p>____________________________________________________________________</p>
                    <p>The Otago Chess Club would like to acknowledge the support of the following organizations:</p>
                    <a href="https://www.odt.co.nz/"><img class= "sponsor-logo" src="{{ url_for('static', filename='images/ODTSponsor.png')}}"></a>
                    <a href="https://lionfoundation.nz/"><img class= "sponsor-logo" src="{{ url_for('static', filename='images/LionFoundationSponsor.png')}}"></a>
                    <a href="https://www.bendigovalley.co.nz/"><img class= "sponsor-logo" src="{{ url_for('static', filename='images/BendigoFoundationSponsor.gif')}}"></a>
                    <a href="https://www.oct.org.nz/"><img class= "sponsor-logo" src="{{ url_for('static', filename='images/OCTSponsor.png')}}"></a>
                    <a href="https://www.dunedin.govt.nz/"><img class= "sponsor-logo" src="{{ url_for('static', filename='images/DCCSponsor.webp')}}"></a>
                    <p>Page Last Edited: DD/MM/YY</p>
                    <p>&copy; 2023</p>
                </div>
            </footer>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>









        <!-- 
            <div class="navbar">
                <button class="mobile-menu-button"><a class="hamburger-menu">&#8801;</a></button>
                    <div class="mobile-menu">
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('news') }}">NEWS</a></li>
                        <li><a href="{{ url_for('notices') }}">NOTICES</a></li>
                        <li><a href="{{ url_for('calendar') }}">CALENDAR</a></li>
                        <li><a href="{{ url_for('tournaments') }}">TOURNAMENTS</a></li>
                        <li><a href="{{ url_for('results') }}">RESULTS</a></li>
                        <li><a href="{{ url_for('ratings') }}">RATINGS</a></li>
                        <li><a href="{{ url_for('library') }}">LIBRARY</a></li>
                    </div>
            
                <a href="{{ url_for('home') }}" class="navbar-item">HOME</a>
                <a href="{{ url_for('about') }}" class="navbar-item">ABOUT</a>
                <a href="{{ url_for('news') }}" class="navbar-item">NEWS</a>
                <a href="{{ url_for('notices') }}" class="navbar-item">NOTICES</a>
                <a href="{{ url_for('calendar') }}" class="navbar-item">CALENDAR</a>
                <a href="{{ url_for('tournaments') }}" class="navbar-item">TOURNAMENTS</a>
                <a href="{{ url_for('results') }}" class="navbar-item">RESULTS</a>
                <a href="{{ url_for('ratings') }}" class="navbar-item">RATINGS</a>
                <a href="{{ url_for('library') }}" class="navbar-item">LIBRARY</a>
            </div>
        -->  










