{% extends "layout.html" %}
{% block title %}
News Page
{% endblock %}
{% block content %}
    <h1 class= "header">Latest News</h1>
    <p><i>Watch this space for up-to-date news of chess events from the Otago region.</i></p>
    <div class = "written-content>">
    {{ news_content|safe }}
    </div>
    

    <p><b>Winter Rapid Open - 11 June</b></p>
    <p>The Winter Rapid Open drew a very healthy field of 34, with a players from Oamaru
    and Invercargill, and Artem Anikonov from Christchurch adding to the Dunedin contingent.
    Top seed was FM Mike Steadman, based in Queenstown, with last year's winner Sasha
    Nedyhalov expected to give him the most competition. With a large field there were three
    prize grades: Open, U1600 and U1300. Upsets abounded form the first round, with third
    seed Atlas Kerr losing to local junior Geordie Stephenson and 4th seed Quentin Johnson
    doing likewise to Conor Kerr. They continued in round 2 with Emmanuel Santiago defeating
    6th seed Richie Christie, John Whelan beating 8th seed Rick Loos, and Stephenson continuing
    his run be beating 9th seed Anikonov.
    Stephenson continued in round 3 by drawing with 7th seed Thomas Koentges to stay undefeated.
    Meanwhile Conor Kerr beat Loos to show his round 1 result was no accident. This round
    saw the leading group thinned to just three players: Steadman, Nedyhalov and Ben Suazo
    on 3 points, with Stephenson and Koentges following on 2½.
    The round 4 top board clash between on the top two seeds Steadman-Nedyhalov ended in a
    draw. That allowed Suazo to take the sole lead on 4/4 by ending Stephenson's dream run,
    with Steadman and Nedyhalov half a point behind. Koentges drew with Johnson with a nice
    stalement trap to lead a chasing group on 3 comprisng Christie, Hamish Gold and Anikonov.
    The fifth and penultimate round sorted out the main final placings: Nedyhalov defeated
    Suazo on board 1 to take over the lead on 4½/5, as Steadman on board 2 went down
    to Christie. Koentges beat Gold to stay in contention with Chritie and Suazo on
    4 points, but Anikonov was held to a draw by Liam Alcock, so dropped off the pace.
    The final round saw Nedyhalov defeat Koentges on board 1 to secure first place outright
    on 5½/6. Board 2 Suazo-Christie ended in the a win to Suazo to take clear second
    place on 5 points. Stead beat Anionov on board 3 to take what proved to be clear third
    on 4½.The U1600 Grade prize was shared by Emmanuel Santiago, Daniel Bell, Oscar
    Lobb and Tyne Grant on 4 points. The U1300 Grade prize was shared by Paul Gudoy and
    Benjamin Roberts on 3 points.<br>
    The next rapid open is the Spring Rapid on Sunday 3 September.</p>
    <p><a href="https://otagochess.org/OCCnews/news2023/wwwOtagoWinterRapidOpen2023/crosstablescore.html">View
    Vega output</a></p>
    
    <p><b>Club Rapid Championship - 7 June</b></p>
    <p style="font-weight: normal">The grades were set using the NZCF Rapid ratings
    under the <a href="static/CHAMPIONSHIP.pdf" target="_blank">rules</a>.</p>
    <p>The A grade had two regulars, Quentin Johnson and Ben Suazo, and two new
    additions: Jens Paulsen who had fought his way up the ratings to appear in the
    A grade for the first time having started in the C grade last year,
    along with new member this year Leo Malcolm. The results
    were much starker than the ratings would have suggested, with Johnson winning
    with 6/6. Suazo and Malcolm shared second on 3 points and Paulsen scored 0, after
    struggling to convert good positions into points under the rapid time control.</p>
    <p>The B Grade was won convincingly by Greg Familton, who after trading wins with
    Oscar Lobb won all his other games to finish on 5/6. The other players were
    bunched together far behind, with Lobb and Terry Ffield tied in second on 2½
    and Hamish Gold trailing on 2 points.</p>
    <p>The C Grade went undecided until the end when it was deemed Issey Gray would
    not be able to catch up missed games so these were converted into defaults to
    be consistent with the two losses to Brent Southgate on the opening night.
    That meant Rogan-Joe Sloan won the grade with 5/6, ahead of Bob Clarkson on 4 and 
    Southgate on 3 points.</p>
    <p>The D Grade was a six-round swiss, and first was shared by Ryan High and Zhe Min Lee
    on 5/6. High won their individual game but also has a half-point bye and a final
    round draw to ALf Loretan. Third was William Smith on 4 points and 4th was shared
    by stalwart John Armstrong along with new member Oliver Lee on 2½.</p>
    <p>In the combined cross table below the inter-grade handicaps of 5,
    2½ and 1½ points have been added to the A, B and C grades,
    showingthe overall standings after the first leg. The handicaps are derived from the
    difference in expected score between the average NZCF rating of each grade. 
    </p>
    <p><span style="font-weight: normal"><a href="{{ url_for('club_championship_ratings') }}">View
    combined Crosstable and Rating performances</a><br>
    <a href="static\club_rapid_champion_leg1.pdf#zoom=60">View
    Grade Crosstables</a></span></p>
    
    <p><b>Blitz Championship 2 – 7 June</b></p>
    <p>On 7 June the second Blitz event for the Blair Freeman Trophy was held
    as a 14 player Swiss with a time limit of Bronstein 5 mins plus 3 seconds
    delay per move, though two withdrawals after round 1 cut the firled to twelve. 
    The tournament was jointly won by top seeds Ben Suazo and Quentin Johnson on 6½/7.
    These two drew with each other and won all their other games. Iain Lamont was 3rd on 5
    points and Samuel Mitchell and Rogan-Joe Slaon shared 4th on 4. Ian Repia scored
    a notable 3½ for 6th as he played both the winners.</p>
    <p><a href="{{ url_for('blitz_championship_2023') }}">View Crosstable</a></p>
    <p><b>Graham Haase Memorial - 10 May</b></p>
    <p>The Graham Haase Memorial 2023 chess tournament equalled its biggest turnout
    with 29 players taking part including several new members. It ended with Jens 
    Paulsen continuing his great year so far, taking the top spot with an
    impressive score of 4½ out of 5, a point clear of the field. Paulsen
    had a fantastic performance, with a draw with Oscar Lobb in the first round 
    then winning his last four games against some tough opponents. Quentin Johnson
    led throughout, but a draw to Iain Lamont in round four followed by a loss to
    Paulsen in the final round meant he finished in a tie for second with Lamont,
    Naser Tamimi, Hamish Gold, and Leo Malcolm on 3½ points. Paulsen and Tamimi
    had notable rating gains (Naser returning to the club after a couple of years hiatus),
    along with Lobb, William Smith and John Armstrong.</p>
    <p><a href="{{ url_for('graham_haase_2023') }}">View
    Crosstable and Rating performances</a></p>
    <p><b>University of Otago Inter-College Teams' tournament - 23 April</b></p>
    <p>The 2023 University of Otago held its annual Inter-College Chess Teams competition
    on Sunday 23 April at the College of Education staffroom. Studholme 1 were the
    champions this year with a score of 9/10.</p>
    <p>View the final <a href="{{ url_for('intercollege_chess_2023') }}">Crosstable</a></p>
    <p><b>Club Championship – 5 April, updated 3 May</b></p>
    <p>The first leg of the 2023 Club Championship was affected by a number of absences
    with seveal games still to finish in the A and B Grades.</p>
    <p>Jens Paulsen has secured at least first equal in the A Grade with 3½/4 so far.</p>
    <p>Update: Greg Familton withdrew his remaining games after commitmnets prevented him finishing
    so byes were awarded t his opponents to be consistent. That menat Jens was first on 4½,
    while the other places are yet to be decided withone games remaining to be played.</p>
    <p>Elliot Munro left no doubt in the B Grade with a picket fence 5/5, followed
    by Leo Malcolm on 3/4 with game to play, though he could still be caught by Hamish Gold
    or Alexander Sun depending on the remaining games.</p>
    <p>Update: Alexander Sun won his remaing two games to overtake Gold and Malcolm and finish
    2nd on 3½. Leo Malcolm was third on 3 and Hamish Gold finished 4th on 2 points.
    Terry Duffiled was 5th on 1½ while Brent Southgate ruined some winning positions on his way
    to 0 points.</p>
    <p>The C Grade tournament report courtesy of ChatGPT with some minor editing: Ezekiel Stewart
    emerged as the clear winner with a score of 5 out of 6 points. He played excellent games
    throughout the tournament and defeated his opponents with ease, with just one loss to Ryan High.
    Ryan High came in equal second place with 4 points, dropping a game to Issey Ess and missing the final
    round. Oscar Lobb shared second on 4 points, losing only tow Stewart and High. Bob Clarkson finished
    fourth with 3½ points, while Issey Ess and David Reid shared the fifth place with 2½
    points each. Alf Loretan and Samuel Mitchell tied for the seventh place with 2 points each, 
    while William Smith, John F Armstrong, Rogan-Joe Sloan, and Oliver Lee rounded up the rest of the
    standings.<br>
    Overall, it was a competitive and exciting tournament, and congratulations to Ezekiel Stewart for
    winning promotion to the B Grade in the second leg!</p>
    <p>The <a href="static/CHAMPIONSHIP.pdf" target="_blank"><b>rules</b></a>
    mean that each grade starts with a base score and/or a scaling factor,
    to allow performances to be roughly compared between grades, based on
    the average rating of the field in each grade. That allows players in
    different grades to compete for the same trophy on fair terms. The
    Championship totals in the link below show the effect of these
    adjustments.</p>
    <p><a href="static\club_champion_leg1.pdf">View
    all crosstables</a><br>
    <a href="static\AGrade_Club_Champs_Leg1.pdf">View
    A-Grade crosstable and rating performances</a><br>
    <a href="static\BGrade_Club_Champs_Leg1.pdf">View
    B-Grade crosstable and rating performances</a><br>
    <a href="static\CGrade_Club_Champs_Leg1.pdf">View
    C-Grade crosstable and rating performances</a></p>
    <p><b>Autumn Rapid Open - 5 March</b></p>
    <p>The Autumn Rapid Open drew an excellent field of 30, with a players from Invercargill,
    Whakatipu HS in Queenstown and Artem Anikonov coming down from Christchurch. Top seed
    was Ben Suazo, though a feeling that many players were underrated in the field was soon
    bourne out. There were three prize grades: Open, U1600 and U1200, with a number of the
    ratings estimated or based on chess.com or lichess ratings. Results went mostly according
    to seeding in the first two rounds, except Raymond Yang held Leo Malcolm to a draw, while Yurri
    Viray beat Daniel Bell, while in round 2 Matt Williams inflicted an upset loss on Richie 
    Christie.<br>
    Round Three saw Artem Anikonov defeat top seed Ben Suazo on board 1, while Qi Le Kong-Lim
    vs Quentin Johnson on board 2 was a draw after mutual blunders. Rogan-Joe Sloan picked up
    an upset win over Hamish Gold, and Daniel Bell lost a second upset to a Whakatipu HS
    student, this time to Haru Kuroe. That left just two players on 3/3: Anikonov and
    4th seed Atlas Kerr, with Johnson, Kong-Lim and Malcolm half a point behind.<br>
    In round 4 the board 1 clash resulted in a win to Anikonov over Kerr. Malcolm beat Johnson
    ob board 2, while Kong-Lim inflicted a second loss on Suazo. That left Anikonov in the sole
    lead on 4/4 with two rounds to go, just ahead of Kong-Lim and Malcolm on 3&amp;frca12; with a
    large group on 3 points.<br>
    Kong-Lim gound Anionov down in along minor poice endgame to take over the sole lead on 4½/5,
    since Malcolm was beaten by Kerr on board 2. Joining Anikonov and Kerr on 4/5 with a chance for
    first place were Christie, who beat Gary McLean and Jens Paulsen who beat Matt Williams. Bell
    had yet another upset inflicted on him - this time by Yang.<br>
    The critical games in the final round were Kong-Lim - Chritie on board 1, Anikonov-Jens
    Paulsen on board 2 and Kerr-Johnson on board 3. Qi Le won to stay in clear first and 
    win the event on 5½/6. Paulsen overcame Anikonov to finish second on 5, equal with
    Kerr, who beat Johnson. Malcolm beat Edward Sarfas to finish alone in 4th place on 4½
    just off the podium.<br>
    The U1600 Grade was shared by Hamish Gold, Emmanuel Santiago and Conor Kerr on 4 points.<br>
    The U1200 Grade was shared by Leo Devlin, Haru Kuroe and Yurri Viray on 3 points.<br>
    The next rapid open is the Winter Rapid on Sunday 11 June.</p>
    <p><a href="https://otagochess.org/OCCnews/news2023/wwwOtagoAutumnRapidOpen2023/crosstablescore.html">View Vega output</a></p>
    <p><b>Allan Chang Memorial – 22 February</b></p>
    <p>The Allan Chang 10 minute hourglass tournament had a turnout of
    19 participants. The unusual time limit delivered plenty of upsets, with
    the trophy going to the largest (based on 
    <a href="static\ratingsaug.pdf" >club rapid rating</a>
    difference January 2023).</p>
    <p>Oscar Lobb recorded the biggest upset of round 1 with a win over Terry Duffield 
    (Difference 109 club rapid rating points), and then bettered it two games
    later by beating Greg Familton (145 points). This proved to be the biggest upset in the event
    despite Oscar not playing the second night, so the trophy went to Oscar. Ben Suazo
    accummulated 6½ points from eight games to lead the scores, ahead of Quentin
    Johnson on 6/7 and Romero Suggate 5/7. New membebr Leo Malcolm joined in the second
    week and scored a handy 3/4 including a final round win over Johnson.</p>
    <p><a href="OCCnews/news2023/chang2023.htm">View
    Crosstable and Rating performances</a></p>
    
    <p><b>2023 Otago chess club AGM – 8 February</b></p>
    <p>Terry Duffield was re-elected as the President. Edward Sarfas stood down as Vice President
    and club Captain. Alf Loretan was elected to both roles. Brent Southgate stayed on as Secretary 
    and Noah Oseki was re-elected as Treasurer. Quentin Johnson stayed on as Auditor and Director of Junior Play.
    Bob Glass remained as Patron. Jens Paulsen and Greg Familton were elected as committee members and 
    Geoff Aimers is Past President. <br>A new version of the
    <a href="Otago%20Chess%20Club%20Inc%20Constitution%2008-02-2023.pdf" target="_blank">Club Constition</a> was adopted to update the rules
    in line with coiming legislation concerning incorporated Societies.<br>
    2023 Subscriptions remained the same as 2022.</p>
    <p>The 2023 committee comprises:</p>
    <p>President: Terry Duffield; Vice President: Alf Loretan;
    Secretary: Brent Southgate; Treasurer: Noah Oseki; Director of
    Junior Play: Quentin Johnson; Past-President: Geoff Aimers; Club
    Captain: Alf Loretan; Committee members: Jens Paulsen, Greg Familton; Auditor: Quentin Johnson; Patron: Bob Glass.</p>
    <p>The Draft <a href="OCC2023.htm" target="_blank">Calendar for 2023</a> was not discussed, so must remain the Calendar
    until further notice.</p>
    <p><b>Blair Freeman Blitz 1 - 1 February</b></p>
    <p>The first Blitz tournament for the 2023 Blair Freeman trophy took place on 1 February and had a
    turnout of 12 players. Romero Suggate won with 6/7, losing only to Jens Paulsen in round 4. Top seed
    Iain Lamont shared the lead until the final round, but a loss to Alexander Sun meant he was second
    on 5 points, with Sun third on 4½. Paulsen finished in a tie for fourh with Pratik Jadhav and Quentin
    Johnson on 4 points.</p>
    <p>View the <a href="OCCnews/news2023/blitz1_2023.htm">final crosstable</a>.</p>
    <p><b>President vs Vice President - 25 January</b></p>
    <p>The opening event for 2023 was the traditional President vs Vice President
    match on 25 January. This year Terry Duffield's President's team triumphed 4-2 over
    Brent Southgate's Secretary's team.</p>
    
    </body>
{% endblock %}